{% extends 'partials/base.html.twig' %}

{% block content %}
	{% include 'partials/header.html.twig' %}
  {% include 'partials/menu.html.twig' %}
	<div class="expo-content">
			<div class="colonne-central">
				<h1>{{ page.title }}</h1>
				{{ page.content }}	
			</div>
			<div class="colonne-right">
				<div class="inner-content">
					{% for pictures in page.media.images|slice(length, length-2) %}
						{% set picture = pictures %}
						<li>
							<img src="{{ picture.url }}" alt="{{ page.slug }}" />
						</li>
					{% endfor %}
				</div>

		</div>
			
	</div>
    
{% endblock %}