{% extends 'partials/base.html.twig' %}

{% block content %}
	{% include 'partials/header.html.twig' %}
  {% include 'partials/menu.html.twig' %}
  <div class="content">
    <a class="P_A" href="#" >
      <img src="{{ theme_url }}/images/P_A.svg" alt="P_A" id="P_A"/>
    </a>
    <div class="logo">
      <img class="cnap" src="{{ theme_url }}/images/cnap.png">   
    </div>
  </div>
{% endblock %}