@import "../bower_components/foundation/scss/normalize.scss";
// @import "../bower_components/foundation/scss/foundation.scss";
@import "../bower_components/foundation/scss/foundation/components/global";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/clearing";
@import "../bower_components/foundation/scss/foundation/components/inline-lists";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/block-grid";

//fonts
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

//variables 
$psize : 0.9em;
$h1size: 1.5em;

/* Constrain the width */
.container {
  width: auto;
  padding: 0px;
}

.container .content {
  img {
    width:100%;
  }
}

/* Center the footer text */
.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Vollkorn', serif;
  // overflow-x: hidden;
  // overflow-y: auto; 
  overflow: hidden;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-family: 'Vollkorn', serif;
}

a {
  color: #000;
  text-decoration: none;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}

ul {
  margin: 0px;
}

li {
  list-style: none;
}

img {
  max-width: none;  
  width: 100%;
}

header{
  background-color: black;
  padding: 10px 10px 5px;
  position: fixed;
  width:100%;
  z-index: 100;
  .precedent{
    display: inline-block;
    vertical-align: top;
    width:auto;
  }
  .title{
    display: inline-block;
    vertical-align: top;
    width: 75%;
    color:#FFF;
    text-align: center;
    h1{
      color:#FFF;
      font-size: 1.2em;
      font-weight: 700;
      margin: 0px;
      line-height: 1em;
    }
    h2{
      color:#FFF;
      font-size: 1.2em;
      margin:0px;
      line-height: 1.1em;
    }
  }
  .menu-toggle{
    width:12%;
    height:45px;
    display: inline-block;
    border-left: 2px solid #FFF;
    padding: 0px 0px 0px 8px;
    vertical-align: top;
    div {
      border-top: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
      height: 12px;
      margin-top: 8px;
    }
  }

}

.navbar {
  position: absolute;
  top:58px;
  z-index: 5;
  background-color: #FFF;
  width: 100%;
  max-height: 0px;
  overflow-x:hidden;
  overflow-y: scroll;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  &.open{
    height:85%;
    max-height: 8000px;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -ms-transition: all 4s ease;
    -o-transition: all 4s ease;
    transition: all 4s ease;
  }
  .sommaire{
    width: 100%;
    margin:0px;
    li {
      display: block;
      text-decoration: none;
      font-size: 1.1em;;
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 700;
      font-style: italic; ;
      border-bottom: 4px solid #000;
      padding: 17px 30px;
      a{
        display: block;
        width: 100%;
        span.element-menu{
          border-bottom: 4px solid #000;
        }
      }
      .submenu {
         margin:0px;
        border-left: 4px solid #000;
        max-height: 0px;
        overflow: hidden;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        li {
          padding:10px 30px;
          border-bottom: none;
          &:first-child{
            padding-top: 0px;
          }
        }
        &.open{
          max-height: 1000px;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;
          margin:20px 0px 0px 0px;
        }
      }
      &.expositions{
        padding: 17px 0px;
        >a{
          margin-left: 30px;
        }
      }
      &.expositions .submenu{
        z-index:6;
        background-color: #FFF;
        width:100%;
        border-left: none;
        li{
          border-top:4px solid #000;
          padding: 0px;
          background-color: #FFF;
          &:first-child{
            border:none;
          }
          a{
            border:none;
          }
        }
        img{
          width:100%;
        }
      }
    }
  }
}

.container .content {
  .logo{
    width: 60px;
    position: absolute;
    top:70%;
    left:40%;
    .cnap{
      width: 100%;

    }
  }
}

.wrapper-text{
  .static-text{
    padding: 70px 30px;
    height: 100%;
    overflow: scroll;
    h1{
      font-style:italic;
      font-weight: 700;
      font-size: $h1size;
      margin-bottom: 20px;
      span{
      border-bottom: 4px solid #000;
      }
    }
    h2{
      font-size: 1.1em;
      font-style: italic;
      text-decoration: underline;
    }
    h3{
      font-size: 0.9em;
      text-transform: uppercase;
      text-decoration: underline;
    }
    h4, h5{
      font-size: 0.9em;
      text-transform: uppercase;
    }
    p{
      font-size: $psize;
    }
    a{
      text-decoration: underline;
    }
  }
}

.expo-content {
  width: 200%;
  max-width: 200%;
  top:60px;
  position: relative;
  margin: 0;
  .colonne-central {
    width: 45%;
    height: 100%;
    margin-bottom: 30px;
    padding: 20px 30px 20px 30px;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    overflow-x:hidden;
    h1{
      margin-bottom: 20px;
      font-style:italic;
      font-weight: 700;
      font-size: $h1size;
      line-height: 1.2em;
    }
    h2{
      font-size: 1.1em;
      font-style: italic;
      text-decoration: underline;
    }
    h3{
      font-size: 0.9em;
      text-transform: uppercase;
      text-decoration: underline;
    }
    h4, h5{
      font-size: 0.9em;
      text-transform: uppercase;
    }
    p{
      font-size: $psize;
      &:last-child{
        padding-bottom:100px;
      }
    }
    a{
      text-decoration: underline;
    }
  }
  .colonne-right {
    width: 50%;
    position:relative;
    padding-right: 0px;
    left:0px;
    z-index: 2;
    display: inline-block;
    vertical-align: top;
    overflow-x:hidden; 
    overflow-y: auto;
    .inner-content{
      position: relative;
      padding-bottom:50px;
    }
    li {
      img {
        width: 100%;
      }
    }
  }  
}