@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
/* Constrain the width */
.container {
  width: auto;
  padding: 0 15px; }

/* Center the footer text */
.container .text-muted {
  margin: 20px 0;
  text-align: center; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow: hidden; }

body {
  margin-bottom: 60px;
  font-family: 'Vollkorn', serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Vollkorn', serif; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: none; }

li {
  list-style: none; }

img {
  max-width: none; }

.panzoom {
  top: -1038px;
  left: -3500px;
  cursor: url("../images/cursor.png"), pointer; }

.title {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 1200px;
  left: 250px;
  width: 100%;
  z-index: 3;
  text-align: center;
  margin-left: 10%;
  margin-top: 100px; }
  .title h1 {
    font-size: 13em;
    margin: -15px 0px 0px 0px;
    line-height: 1.5em; }
  .title h2 {
    font-size: 5em;
    margin: 0px;
    line-height: 0px; }
  .title h3 {
    font-size: 3.5em;
    margin: 0px;
    line-height: 0px; }

.navbar {
  position: absolute;
  top: 80px;
  left: 30px;
  z-index: 200; }
  .navbar .home {
    width: 50px;
    display: inline-block;
    vertical-align: top; }
    .navbar .home .toit {
      width: 100%;
      height: 20px; }
      .navbar .home .toit .toit1 {
        width: 46%;
        height: 100%;
        border-bottom: 4px solid #000;
        transform: rotate(-45deg);
        display: inline-block; }
      .navbar .home .toit .toit2 {
        width: 47%;
        height: 100%;
        border-bottom: 4px solid #000;
        transform: rotate(45deg);
        display: inline-block; }
    .navbar .home .mur {
      width: 70%;
      margin: 3px auto;
      height: 30px;
      border: 4px solid #000;
      background-color: #FFF; }
  .navbar .menu-toggle {
    width: 60px;
    height: 80px;
    border: 4px solid #000;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: #FFF;
    cursor: pointer; }
    .navbar .menu-toggle div {
      border-top: 4px solid #000;
      border-bottom: 4px solid #000;
      height: 20px;
      width: 70%;
      margin: 10px auto 10px auto; }
  .navbar .navbar-collapse {
    border: 4px solid #000;
    padding: 10px 0px 30px 10px;
    width: 300px;
    background-color: #FFF;
    display: none;
    margin-left: 20px;
    float: right; }
  .navbar ul.nav li {
    float: none;
    display: block;
    font-size: 1.8em; }
    .navbar ul.nav li a {
      color: #000;
      font-style: italic;
      letter-spacing: 1px;
      border-bottom: 4px solid #000; }
      .navbar ul.nav li a:hover {
        color: #FFF;
        background-color: #000;
        font-weight: normal; }
    .navbar ul.nav li:hover .a {
      color: #FFF;
      background-color: #000;
      font-weight: normal; }
  .navbar ul.nav li:hover .submenu {
    display: block; }
  .navbar ul.nav .submenu {
    display: none;
    position: absolute;
    margin-top: -60px;
    background-color: #FFF;
    border: 4px solid #000;
    padding: 10px 40px 30px 40px;
    width: 100%; }
    .navbar ul.nav .submenu .carreblanc {
      background-color: #FFF;
      width: 0.8em;
      height: 60px;
      position: absolute;
      top: -4px;
      left: -0.79em;
      border-top: 4px solid #000;
      border-bottom: 4px solid #000; }

.carte-expo {
  position: absolute;
  top: -138px;
  left: -1px;
  width: 7200px;
  height: 4500px; }

.carte-route {
  width: 7200px;
  height: 4500px; }

.img-expo div {
  position: absolute; }
.img-expo #SarahBoris {
  top: 1725px;
  left: 1678px;
  width: 630px; }
  .img-expo #SarahBoris img {
    width: 100%; }
  .img-expo #SarahBoris h3 {
    top: 200px;
    left: 350px;
    transform: rotate(-11deg); }
.img-expo #GavilletandRust {
  top: 1980px;
  left: 3480px;
  width: 130px; }
  .img-expo #GavilletandRust img {
    width: 100%; }
  .img-expo #GavilletandRust h3 {
    top: 0px;
    left: 0px;
    transform: rotate(-19deg); }
.img-expo #MichaelRiedel {
  top: 2623px;
  left: 4170px;
  width: 495px; }
  .img-expo #MichaelRiedel img {
    width: 100%; }
  .img-expo #MichaelRiedel h3 {
    top: 190px;
    left: 130px;
    transform: rotate(-14deg); }
.img-expo #FanetteMellier {
  top: 2484px;
  left: 1982px;
  width: 200px; }
  .img-expo #FanetteMellier img {
    width: 100%; }
  .img-expo #FanetteMellier h3 {
    top: 30px;
    left: 0px;
    transform: rotate(-12deg); }
.img-expo #CollectifSuperTerrain {
  width: 320px;
  top: 2055px;
  left: 5520px; }
  .img-expo #CollectifSuperTerrain img {
    width: 100%; }
  .img-expo #CollectifSuperTerrain h3 {
    top: 130px;
    left: 30px;
    transform: rotate(-12deg); }
.img-expo #FredericTacer {
  top: 1730px;
  left: 5450px;
  width: 400px; }
  .img-expo #FredericTacer img {
    width: 100%; }
  .img-expo #FredericTacer h3 {
    top: 200px;
    left: 120px;
    transform: rotate(-10deg); }
.img-expo #AntoineManuel {
  top: 2240px;
  left: 4835px;
  width: 230px; }
  .img-expo #AntoineManuel img {
    width: 100%; }
  .img-expo #AntoineManuel h3 {
    top: 65px;
    left: 30px;
    transform: rotate(8deg); }
.img-expo #AgatheDemoisVincentGodeau {
  top: 3480px;
  left: 6170px;
  width: 460px; }
  .img-expo #AgatheDemoisVincentGodeau img {
    width: 100%; }
  .img-expo #AgatheDemoisVincentGodeau h3 {
    top: 190px;
    left: 55px;
    transform: rotate(10deg); }
.img-expo #MaotikMetametric {
  top: 70px;
  left: 4350px;
  width: 210px; }
  .img-expo #MaotikMetametric img {
    width: 100%; }
  .img-expo #MaotikMetametric h3 {
    top: 100px;
    left: -10px;
    transform: rotate(-16deg); }
.img-expo #Unekermessegraphique {
  top: 100px;
  left: 4540px;
  width: 250px; }
  .img-expo #Unekermessegraphique img {
    width: 100%; }
  .img-expo #Unekermessegraphique h3 {
    top: 100px;
    left: 40px;
    transform: rotate(10deg); }

.img-expo div h3 {
  background-color: #FFF;
  font-family: 'Vollkorn', serif;
  padding: 0px 10px;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-size: 1.4em; }

.ui-dialog {
  background-color: #FFF;
  overflow: hidden;
  height: 600px !important;
  z-index: 99; }
  .ui-dialog .container {
    padding: 0px; }
  .ui-dialog .ui-dialog-titlebar {
    display: none;
    height: 0px;
    visibility: hidden; }

.row {
  width: 150%;
  max-width: 150%;
  left: -25%;
  height: 600px;
  position: relative; }
  .row .columns {
    padding: 0px; }
  .row .colonne-left {
    overflow: hidden;
    height: 600px;
    position: relative;
    left: 0px;
    z-index: 100; }
    .row .colonne-left img {
      width: 100%; }
    .row .colonne-left .inner-content {
      position: relative; }
  .row .colonne-central {
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px; }
  .row .colonne-right {
    position: relative;
    padding-right: 0px;
    left: 0px;
    height: 600px;
    overflow-y: auto;
    z-index: 101; }
    .row .colonne-right .inner-content {
      position: relative; }
    .row .colonne-right li img {
      width: 100%; }

.container {
  overflow: auto; }
  .container .static-text {
    padding: 40px 200px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }

/*# sourceMappingURL=usg.css.map */
