@import "../bower_components/foundation/scss/normalize.scss";

@import "../bower_components/foundation/scss/foundation/components/global";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/clearing";
@import "../bower_components/foundation/scss/foundation/components/inline-lists";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/block-grid";

//fonts
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

/* Constrain the width */
.container {
  overflow: hidden;
  width: auto;
  padding: 0 15px;
  height:100%;
}

/* Center the footer text */
.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin-bottom: 60px;
  font-family: 'Vollkorn', serif; 
  //overflow: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Vollkorn', serif;
}

a {
  color: #000;
  text-decoration: none;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}

li {
  list-style: none;
}

img {
  max-width: none;
}

.panzoom {
  top:-1038px;
  left:-3500px;
  // cursor: url("../images/cursordrag.png"), pointer;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.title {
  position: absolute;
  background-color: transparent;
  border:none;
  top: 1200px;
  left:250px;
  width: auto;
  height: auto;
  z-index: 3;
  text-align: center;
  h1 {
    font-size: 13em;
    margin: -15px 0px 0px 0px;
    line-height: 1.3em;
  }
  h2 {
    font-size: 5em;
    margin: 0px;
    line-height: 0px;
    width:1000px;
  }
  h3 {
    font-size: 3.5em;
    margin: 0px;
    line-height: 0px;
  }
  img.logo{
    margin-top: 60px;
    width:12%;
  }
}

.navbar{
  position: absolute;
  top: 40px;
  left:20px;
  z-index: 200;
  .home {
    width:50px;
    display: inline-block;
    vertical-align: bottom;
    .toit{
      width: 100%;
      height: 20px;
      .toit-plein {
        width: 0; 
        height: 0; 
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 20px solid #000;
        position: absolute;
        top:12px;
        left:21px;
      }
    }
    .mur{
      width:76%;
      margin: 3px auto 0px;
      height: 35px;
      border: 4px solid #000;
      background-color: #FFF;
    }
  }
  .menu-toggle{
    width:60px;
    height:auto;
    border: 4px solid #000;
    display: inline-block;
    vertical-align: bottom;
    background-color: #FFF;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    div {
      border-top: 4px solid #000;
      border-bottom: 4px solid #000;
      height: 20px;
      width: 70%;
      margin: 10px auto 12px auto;
      &:last-child{
        border-bottom: none;
        height:0;
      }
    }
  }
  .navbar-collapse {
    border: 0px solid #FFF;
    padding: 0px;
    width: 300px;
    background-color: #FFF;
    margin-left: 20px;
    float: right;
    visibility: hidden;
    overflow: hidden; 
    max-height: 0px;
    transition: all 0.7s ease;
    &.active {
      transition: all 0.7s ease;
      max-height: 700px;
      visibility: visible;
      padding: 20px 0px 20px 10px; 
      border: 4px solid #000;
    }
  }

  ul.nav {
    li {
      float: none;
      display: block;
      font-size: 1.8em;
      a {
        color: #000;
        font-style: italic;
        letter-spacing: 1px;
        border-bottom: 4px solid #000;
        &:hover {
          color: #FFF;
          background-color: #000;
          font-weight: normal;
        }
      }

      &:hover .a{
        color: #FFF;
        background-color: #000;
        font-weight: normal;
      }
    }

    li:hover .submenu {
      display: block;
    }

    .submenu {
      display: none;
      position: absolute;
      margin-top: -60px;
      background-color: #FFF;
      border: 4px solid #000;
      padding: 10px 40px 30px 40px;
      width:100%;
      .carreblanc{
        background-color: #FFF;
        width:0.8em;
        height:60px;
        position: absolute;
        top:-4px;
        left:-0.79em;
        border-top: 4px solid #000;
        border-bottom: 4px solid #000;
      }
    }
  }
}


.carte-expo{
  position: absolute;
  top:-138px;
  left: -1px;
  width: 7200px;
  height: 4500px;
}

.carte-route{
  width: 6720px;
  height: 4282px;
  position: absolute;
  top:292px;
  left:-39px;
}

.img-expo {
  div{
    position: absolute;
  }
  #SarahBoris{
    top:1725px;
    left:1678px;
    width: 630px;
    img{
     width: 100%;
    }
    h3{
      top:200px;
      left:350px;
      transform: rotate(random(30) - 30 + deg);
    }
  }
  #GavilletRust{
    top:1980px;
    left:3480px;
    width: 130px;
    img{
      width: 100%;
    }
    h3{
      top:0px;
      left:0px;
      transform: rotate(random(20) - 30 + deg);
    }
  }
  #MichaelRiedel{
    top:2623px;
    left:4170px;
    width: 495px;
    img{
      width: 100%;
    }
    h3{
      top:190px;
      left:130px;
      transform: rotate(random(20) - 30 + deg);
    }
  }
  #LaureLimongietFanetteMellier {
    top:2455px;
    left:1982px;
    width: 200px;
    img{
      width: 100%;
    }
    h3{
      top:30px;
      left:0px;
      transform: rotate(random(20) - 30 + deg);
    }
  }
  #CollectifSuperTerrain{
    width: 320px;
    top:2055px;
    left:5520px;
    img{
      width: 100%;
    }
    h3{
      top:130px;
      left:30px;
      transform: rotate(random(20) - 20 + deg);
    }
  }
  #FredericTacer{
    top:1730px;
    left:5450px;
    width: 400px;
    img{
      width: 100%;
    }
    h3{
      top:200px;
      left:120px;
      transform: rotate(random(20) - 20 + deg);
    }
  }
  #AntoineManuel{
    top:2240px;
    left:4835px;
    width: 230px;
    img{
      width:100%;
    }
    h3{
      top:65px;
      left:30px;
      transform: rotate(random(30) - 20 + deg);
    }
  }
  #AgatheDemoisVincentGodeau{
    top:3480px;
    left:6170px;
    width: 460px;
    img{
      width: 100%;
    }
    h3{
      top:190px;
      left:55px;
      transform: rotate(random(10) + deg);
    }
  }

  #MaotikMetametric{
    top:70px;
    left:4350px;
    width: 210px;
    img{
      width:100%;
    }
    h3{
      top:100px;
      left:-10px;
      transform: rotate(random(20)- 20 + deg);
    }
  }


  #UneKermessegraphique{
    top:100px;
    left:4540px;
    width: 250px;
    img{
      width: 100%;
    }
    h3{
      top:100px;
      left:40px;
      transform: rotate(random(10) + deg);
    }
  }
}

.img-expo div h3{
  background-color: #FFF;
  font-family: 'Vollkorn', serif; 
  padding:0px 10px;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-size: 1.4em;
}

// POP UP - DIALOG
.ui-dialog {
  background-color: #FFF;
  overflow:hidden; 
  z-index: 99;
  outline: none;
  .container {
    padding: 0px;
  }
  .ui-dialog-titlebar {
    display: none;
    height:0px;
    visibility: hidden;
  }
}

.row {
  width: 150%;
  max-width: 150%;
  left:-25%;
  position: relative;
  overflow: hidden;
  .columns {
    padding: 0px;
  }
  .colonne-left {
    overflow: hidden;
    background-color: #FFF;
    position:relative;
    left:0px;
    z-index: 100;
    img{
      width: 100%;
    }
    .inner-content{
      position: relative;
    }
  }
  .colonne-central {
    overflow-y: auto;
    overflow-x:hidden;
    padding: 20px 40px;
    h1{
      margin-bottom: 0.7em;
      font-size: 2.2em;
      font-weight: 700;
      font-style: italic;
    }
    h2{
      font-size: 1.5em;
      font-style: italic;
      text-decoration: underline;
    }
    h3{
      font-size: 1.1em;
      text-transform: uppercase;
      text-decoration: underline;
    }
    h4, h5{
      font-size: 1.1em;
      text-transform: uppercase;
    }
    p{
      font-size: 1.1em;
    }
    a{
      font-weight: 700;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .colonne-right {
    position:relative;
    padding-right: 0px;
    left:0px;
    //height: 600px;
    overflow-y: auto;
    z-index: 101;
    .inner-content{
      position: relative;
    }
    li {
      img {
        width: 100%;
      }
    }
  }  
}

.container {
  .static-text{
    padding: 40px 200px;
    overflow-y:auto;
    overflow-x:hidden; 
    h1{
      margin-bottom: 0.7em;
      font-size: 2.2em;
      font-weight: 700;
      font-style: italic;
    }
    h2{
      font-size: 1.5em;
      font-style: italic;
      text-decoration: underline;
    }
    h3{
      font-size: 1.1em;
      text-transform: uppercase;
      text-decoration: underline;
    }
    h4, h5{
      font-size: 1.1em;
      text-transform: uppercase;
    } 
    p{
      font-size: 1.1em;
    }
    a{
      font-weight: 700;
      &:hover{
        text-decoration: underline;
      }
    }
    img{
      max-width: 100%;
    }
  }
} 

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

//MEDIA QUERIES

//TABLET Version
@media #{$medium-only} { 
  .panzoom {
    top:-1038px;
    left:-3500px;
    position: absolute;
  }
  .title .logo{
    margin-top: 30px !important;
    width:70px !important;
  }
  .navbar{
    .home{
      width:45px;
      .mur{
        border: 3px solid #000;
        height: 30px;
      }
      .toit {
        .toit-plein{
          left:19px;
          top:8px;
          border-left: 18px solid transparent;
          border-right: 18px solid transparent;
          border-bottom: 17px solid #000;
        }
      }
    }
    .menu-toggle{
      width:45px;
      border: 3px solid #000;
      div{
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        height:15px;
        margin: 10px auto 10px auto;
      }
    }
  }
  .carte-container {
    -webkit-transform:scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    position: relative;
    top:320px;
    left:910px;
  }
  .row{
    .colonne-central{
      h1{
        font-size: 1.7em;
      }
      h2{
        font-size: 1.1em;
      }
      h3{
        font-size: 0.9em;
      }
      p{
        font-size: 0.8em;
        line-height: 1.4em;
      }
    }
  }
}

@media #{$large-only} { 
  .navbar{
    .home{
      width:45px;
      .mur{
        border: 3px solid #000;
        height: 30px;
      }
      .toit {
        .toit-plein{
          left:19px;
          top:8px;
          border-left: 18px solid transparent;
          border-right: 18px solid transparent;
          border-bottom: 17px solid #000;
        }
      }
    }
    .menu-toggle{
      width:45px;
      border: 3px solid #000;
      div{
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        height:15px;
        margin: 10px auto 10px auto;
      }
    }
  }
  .row{
    .colonne-central{
      h1{
        font-size: 2em;
      }
      p{
        font-size: 0.9em;
      }
    }
  }
  .carte-container {
    -webkit-transform:scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    position: relative;
    top:320px;
    left:910px;
  }
}

//MOBILE VERSION
@media #{$small-only} { 
  .container {
    padding: 0px;
    header{
      text-align: center;
      width:100%;
      margin: auto;
      display: inline-block;
      background-color: #000;
      color: #FFF;
      .title-mobile{
        display: inline-block;
        vertical-align: top;
        h1{
          font-size: 1.8em;
          margin: 0;
          line-height: 0.9em;
          color: #FFF;
        }
        h2{
          font-size: 1.2em;
          margin:0;
          color: #FFF;
        }
      }
      .menu-toggle-mobile{
        width:20%;
        height:50px;
        display: inline-block;
        border-left: 3px solid #FFF;
        padding: 3px 20px 0px 10px;
        margin-left: 20px;
        div {
          border-top: 2px solid #FFF;
          border-bottom: 2px solid #FFF;
          height: 12px;
          margin-top: 8px;
        }
      }
    }
    .navbar {
      position: inherit;
      .navbar-collapse{
        border: none;
        display: block;
        width:100%;
      }
    }
  }
}